.info{
    margin-top: 13em;
    margin-left: 12em;
    display: flex;
    /* border: 1px solid red; */
    width: 100em;
    height: 30em;
    justify-content: space-between;
    z-index: 10;
}

.texte {
    /* border: 1px solid; */
    width: 55em;
    padding: 10px;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.texte h1 {
    font-size: 100px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 80px;
    z-index: 10;
}

.texte p {
    font-size: 24px;
    z-index: 10;
    line-height: 1.5;
}

.sommaire{
    /* border: 1px solid; */
    width: 20em;
    padding-top: 3em;
    margin-right: 8em;  
    transition: width 2s ease;
    z-index: 10;
}

.sommaire h2 {
    display: flex;
    justify-content: center;
    z-index: 10;
}


h2 {
    font-size: 38px;
    margin: 0;
    margin-bottom: 20px;
    font-weight: bold;
}


.line1{
    /* background-color: #043775; */
    width: 15em;
    height: 9px;
    position: absolute;
    background: linear-gradient(0.25turn, #043775, #12769E);
}

.line2{
    /* background-color: white; */
    width: 9px;
    height: 23em;
    position: absolute;
    background: linear-gradient(#043775, #12769E);
}

.projet{
    width: 3em;
    height: 3em;
    padding: 15px 100px;
    margin-left: 25px;
    margin-top: 45px;
    color: #ffffff;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projet {
    /* border: 1px solid red; */
    /* -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1); */
    border-width: 1px; /* Largeur de la bordure */
    border-style: solid; /* Style de la bordure (solide dans ce cas) */
    border-image: linear-gradient(0.25turn, #12769E, #043775); /* Dégradé comme bordure */
    border-image-slice: 1; /* La bordure utilise l'image dégradée */
    transition: 2.5s cubic-bezier(0.5, 0.24, 0, 1); 
}



.contact{
    width: 3em;
    height: 3em;
    padding: 15px 100px;
    margin-left: 25px;
    margin-top: 45px;
    color: #ffffff;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact {
    /* border: 1px solid blueviolet; */
    -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
    border-width: 1px; /* Largeur de la bordure */
    border-style: solid; /* Style de la bordure (solide dans ce cas) */
    border-image: linear-gradient(0.25turn, #12769E, #043775); /* Dégradé comme bordure */
    border-image-slice: 1; /* La bordure utilise l'image dégradée */
    transition: 2.5s cubic-bezier(0.5, 0.24, 0, 1); ;
}

.about{
    width: 3em;
    height: 3em;
    padding: 15px 100px;
    margin-left: 25px;
    margin-top: 45px;
    color: #ffffff;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about {
    /* border: 1px solid blueviolet; */
    -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
    border-width: 1px; /* Largeur de la bordure */
    border-style: solid; /* Style de la bordure (solide dans ce cas) */
    border-image: linear-gradient(0.25turn, #12769E, #043775); /* Dégradé comme bordure */
    border-image-slice: 1; /* La bordure utilise l'image dégradée */
    transition: 2.5s cubic-bezier(0.5, 0.24, 0, 1); ;
}

.titleProjet {
    font-size: 26px;
    width: 5.5em;
    height: 5.5em;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0;
    transition: font-size 1s ;
}

.titleProjet:hover{
    /* font-size: 32px; */
    transform: scale(1.2);
}

.titleProjet:focus {
    outline: none;
}

.titleProjet::selection{
    background-color: transparent;
    color: inherit;
}

.titleAbout {
    font-size: 26px;
    width: 5.5em;
    height: 5.5em;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0;
    transition: font-size 1s ;
}

.titleAbout:hover{
    /* font-size: 32px; */
    transform: scale(1.2);
}

.titleAbout:focus {
    outline: none;
}

.titleAbout::selection{
    background-color: transparent;
    color: inherit;
}

.text-about{
    width: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-about a {
    cursor: none;
}

.text-about img{
    margin-left: 15px;
    padding: 0;
}

.text-about img:hover{
    transform: scale(1.2);    
}

.titleContact {
    font-size: 26px;
    width: 5.5em;
    height: 5.5em;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0;
    transition: font-size 1s ;
}

.titleContact:hover{
    /* font-size: 32px; */
    transform: scale(1.2);
}

.titleContact:focus {
    outline: none;
}

.titleContact::selection{
    background-color: transparent;
    color: inherit;
}



.container-list{
   display: flex;
   flex-direction: row;
   /* align-items: center; */
   justify-content: space-around;
   color: #FCF6F3;
   transition: 2s ease;
   /* border: 1px solid rgb(43, 199, 95); */
   width: 25em;
   height: auto;
   transition: 3s ease-in;
   padding: 5px;
   margin: 0;
}

.container-list:focus {
    outline: none;
}

.container-list::selection{
    background-color: transparent;
    color: inherit;
}

.container-list h2 {
    font-size: 22px;
    margin: 0;
    padding-right: 2em;
    /* border: 1px solid black; */
}

#cl1 {
    font-size: 18px;
    width: 13em;
    height: 10em;
    /* border: 1px solid blueviolet; */
    display: flex;
    flex-direction: column;
    margin: 0;
}

li {
    text-align: left;
    margin: 15px 0px;
}


.container-contact:focus {
    outline: none;
}

.container-contact::selection{
    background-color: transparent;
    color: inherit;
}

.ul-contact{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 18em;
}

#li img {
    width: 60px;
    height: auto;
    transition: ease-out 0.5s;
    cursor: none;
}

#li img:hover{
    width: 70px;
    cursor: none;
}

