.home {
    position: absolute;
    top: 2.5%;
    left: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid transparent; /* Bordure transparente */
  }
  
  .home img {
    width: 50px;
    height: auto;
  }
  
  .home:hover {
    transform: scale(1.1);
    box-shadow: 
      0 0 0 2px #12769E, /* Ombre externe avec le dégradé */
      0 0 10px 15px rgba(255, 255, 255, 0.253); /* Ombre intérieure pour créer l'effet de dégradé autour de la bordure */
  }
  
  



.container1{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid; */
    width: 100em;
    height: 21em;
    margin-top: 8em;
    margin-left: 11em;
    padding: 15px;
}

.container1 .titre{
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container1 .titre h1{
    font-size: 100px;
    font-weight: 100;
    margin: 0;
    padding-bottom: 10px;
    /* border: 1px solid; */

}

.container1 .titre img{
    width: 200px;
    height: auto;
    margin-left: 5em;
    /* border: 1px solid; */

}

.texte{
    /* border: 1px solid red; */
    width: 40em;
    display: flex;
    align-items: center;
    margin-right: 5em;
    line-height: 1.5;
}

.texte p {
    font-size: 24px;
    font-weight: 100
}