.home {
    position: absolute;
    top: 2.5%;
    left: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid transparent; /* Bordure transparente */
  }
  
  .home img {
    width: 50px;
    height: auto;
  }
  
  .home:hover {
    transform: scale(1.1);
    box-shadow: 
      0 0 0 2px #12769E, /* Ombre externe avec le dégradé */
      0 0 10px 15px rgba(255, 255, 255, 0.253); /* Ombre intérieure pour créer l'effet de dégradé autour de la bordure */
  }
  
  a {
    cursor: none; 
}

.container1{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid; */
    width: 100em;
    height: 21em;
    margin-top: 6.5em;
    margin-left: 11em;
    padding: 15px;
}

.container1 .titre{
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container1 .titre h1{
    font-size: 80px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 10px;
    /* border: 1px solid; */

}

.container1 .titre img{
    width: 180px;
    height: auto;
    margin-left: 5em;
    /* border: 1px solid; */

}

.texte1{
    /* border: 1px solid red; */
    width: 40em;
    display: flex;
    align-items: center;
    margin-right: 5em;
    line-height: 1.5;
}

.texte1 p {
    font-size: 22px;
    font-weight: 100
}

.container2{
    /* border: 1px solid; */
    width: 100em;
    height: 23em;
    margin-left: 11em;
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.texte2{
    /* border: 1px solid red; */
    width: 15em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(to right, #12769E, #043775);
    -webkit-background-clip: text; /* Pour une compatibilité avec certains navigateurs Webkit */
    background-clip: text;
    color: transparent
}

.texte2 h2 {
    font-size: 48px;
    font-weight: bold;
  
    /* Ajoutez un dégradé comme couleur de fond de la ligne */
    background-image: linear-gradient(to right, #12769E, #0d54ac);
    background-position: 0 100%; /* Positionne le dégradé en bas de l'élément */
    background-size: 100% 3px; /* Largeur de la ligne et 100% de la largeur de l'élément */
    background-repeat: no-repeat; /* Empêche la répétition du dégradé */
    padding-bottom: 5px; 
    border-radius: 2px;
}

.skills{
    /* border: 1px solid; */
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 99em;
    height: 17em;
    padding: 0;
}

.web{
    /* -webkit-box-shadow: -7px 7px 21px 2px rgba(255, 255, 255, 0.42); 
    box-shadow: -7px 7px 21px 2px rgba(255, 255, 255, 0.42); */
    box-shadow: 
      0 0 0 2px #12769E, /* Ombre externe avec le dégradé */
      0px 0px 21px 2px rgba(255, 255, 255, 0.253);
}

.game{
    /* -webkit-box-shadow: -7px 7px 21px 2px rgba(255, 255, 255, 0.42); 
    box-shadow: -7px 7px 21px 2px rgba(255, 255, 255, 0.42); */
    box-shadow: 
      0 0 0 2px #12769E, /* Ombre externe avec le dégradé */
      0px 0px 21px 2px rgba(255, 255, 255, 0.253);
}

#dev{
    /* border: 1px solid; */
    width: 25em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: 100;
    font-size: 26px;
    padding: 15px;
}

.skills #dev h3 {
    margin: 0;
    font-weight: bold;
}

#i{
    /* border: 1px solid; */
    width: 25em;
    height: 3.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid green; */
    width: 15em;
    height: 3em;
    list-style: none;
}

#list li {
    padding: 0 5px;
    align-self: center;
}
  
#list li img{
    width: 2em;
    height: auto;
}